#containerBlue {
  height: 70px;
  position: fixed !important;
  z-index: 1 !important;
  width: 100%;  
}

.search-input{
  margin-left: 120px;
}

.btn-blue{
  border-radius: 40px;
  border-color: aliceblue;
  border: solid 1px white;
  color: white;
  font-size: 10px;
  float: inline-end;
}

.btn-blue:hover{
  background-color: white !important;
  color: black !important;
}

.MdAccountCircle {
  background-color: blue;
}