.containerMenu {
  position: relative;
  z-index: 1;
  width: 100px;
 
  
}
.icon-list-item {
  font-size: 16px;
  padding: 3px 1.6px;
  margin: 3px;
  
}
.texto {
  font-size: 10px;
  font-weight:bold;
}
.containerMenu2 {
  position: relative;
  width: 230px;
 
 
  z-index: 1;
}
.btn-unstyled {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  left: 95px;
}
.bg:hover {
  background-color: #b2e3ff;
}

.icon-list-item:hover {
  background-color: #b2e3ff
}